@keyframes controlFade-2 {
  0% {
    color: white;
  }

  18.75% {
    color: #ccffcc;
  }

  50% {
    color: #ccffcc;
  }

  68.75% {
    color: white;
  }
}

@keyframes galleryFade-2 {
  0% {
    opacity: 0;
  }

  18.75% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  68.75% {
    opacity: 0;
  }
}

.items-2 .control-button {
  animation: controlFade-2 16s;
}
.items-2 .item {
  animation: galleryFade-2 16s;
}
.items-2 .control-operator:nth-of-type(1):target ~ .controls .control-button:nth-of-type(1) {
  color: #ccffcc;
}
.items-2 .control-button:nth-of-type(1),
.items-2 .item:nth-of-type(1) {
  animation-delay: -3s;
}
.items-2 .control-operator:nth-of-type(2):target ~ .controls .control-button:nth-of-type(2) {
  color: #ccffcc;
}
.items-2 .control-button:nth-of-type(2),
.items-2 .item:nth-of-type(2) {
  animation-delay: 5s;
}

@keyframes controlFade-3 {
  0% {
    color: white;
  }

  12.5% {
    color: #ccffcc;
  }

  33.33333% {
    color: #ccffcc;
  }

  45.83333% {
    color: white;
  }
}

@keyframes galleryFade-3 {
  0% {
    opacity: 0;
  }

  12.5% {
    opacity: 1;
  }

  33.33333% {
    opacity: 1;
  }

  45.83333% {
    opacity: 0;
  }
}

.items-3 .control-button {
  animation: controlFade-3 24s;
}
.items-3 .item {
  animation: galleryFade-3 24s;
}
.items-3 .control-operator:nth-of-type(1):target ~ .controls .control-button:nth-of-type(1) {
  color: #ccffcc;
}
.items-3 .control-button:nth-of-type(1),
.items-3 .item:nth-of-type(1) {
  animation-delay: -3s;
}
.items-3 .control-operator:nth-of-type(2):target ~ .controls .control-button:nth-of-type(2) {
  color: #ccffcc;
}
.items-3 .control-button:nth-of-type(2),
.items-3 .item:nth-of-type(2) {
  animation-delay: 5s;
}
.items-3 .control-operator:nth-of-type(3):target ~ .controls .control-button:nth-of-type(3) {
  color: #ccffcc;
}
.items-3 .control-button:nth-of-type(3),
.items-3 .item:nth-of-type(3) {
  animation-delay: 13s;
}

.gallery {
  position: relative;
}
.gallery .item:first-of-type {
  position: static;
  opacity: 1;
}
.gallery .item {
  transition: opacity .5s;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.gallery .item, .gallery .control-button {
  animation-iteration-count: infinite;
}
.gallery .control-operator {
  display: none;
}
.gallery .control-operator:target ~ .item {
  opacity: 0;
  animation: none;
}
.gallery .control-operator:target + .item {
  opacity: 1;
}
.gallery .control-operator:target ~ .controls .control-button {
  animation: none;
}

.gallery {
  animation: fadeInUp 1s;
  text-align: center;
  margin: 0 auto;
  max-height: 100%;
}
.gallery .controls {
  animation: fadeInUp 2s;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -50%;
  z-index: 2;
  width: 100%;
}
.gallery .control-button {
  transition: color .1s;
  font-size: 3em;
  color: white;
  text-align: center;
  text-shadow: 1px 0 1px black;
}
.gallery .control-button:hover {
  color: lightGrey;
}
