.introduction h2 {
  font-family: 'Avenir LT W01 35 Light'; }

h2 {
  font-family: 'Avenir LT W01 55 Roman'; }

h1 {
  font-family: 'Avenir LT W01 85 Heavy'; }

body, .screencast .purchase, footer[role="contentinfo"] h3, footer[role="contentinfo"] p {
  font-family: 'Proxima N W15 Reg'; }

.screencast .learnings p {
  font-family: 'Proxima N W15 Smbd'; }

.screencast h3 {
  font-family: 'Proxima N W15 Light'; }

.releases .download-options .filesize, .releases footer, .screencast .quotes q {
  font-family: 'ProximaNW15-CdLightIt'; }

.screencast .quotes cite, .screencast .third-party {
  font-family: 'Proxima N W15 Cd Reg'; }

@font-face {
  font-family: "Layout";
  src: url("../fonts/layout-webfont.eot?") format("eot");
  src: url("../fonts/layout-webfont.woff") format("woff"), url("../fonts/layout-webfont.ttf") format("truetype"); }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

[class*="icon-"]:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-sass:before {
  content: "\e000"; }

.icon-balloon:before {
  content: "\e001"; }

.icon-transitions:before {
  content: "\e002"; }

.icon-positioning:before {
  content: "\e003"; }

.icon-css:before {
  content: "\e004"; }

.icon-noscript:before {
  content: "\e005";
  font-size: 120%; }

.icon-prefixes:before {
  content: "\e006";
  font-size: 110%; }

.icon-animation:before {
  content: "\e007"; }

.icon-tools:before {
  content: "\e008"; }

.icon-clouds:before {
  content: "\e009"; }

.icon-cloud:before {
  content: "\e00a"; }

.icon-gallery:before {
  content: "\e00b"; }

@keyframes sway {
  from {
    transform: rotate(3deg);
    transform-origin: 50% 0%; }

  to {
    transform: rotate(-3deg); } }

@keyframes float {
  from {
    transform: translate3d(120%, 0, 0); }

  to {
    transform: translate3d(-60%, 0, 0); } }

* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body {
  line-height: 1.5; }

a {
  color: inherit; }

.gallery .item {
  height: 100%;
  text-rendering: optimizeLegibility; }
.gallery .introduction {
  background: #4D87E2;
  text-align: center; }
.gallery .custom-controls {
  background: #73C16F; }
.gallery .animations {
  background: url(../images/background.jpg) no-repeat;
  background-size: cover; }
.gallery header {
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }

.gallery .item:first-of-type {
  position: absolute; }

.superfluous {
  display: table;
  height: 100%;
  width: 100%; }

.introduction header {
  display: table-cell;
  vertical-align: middle; }
.introduction h1 {
  margin: 0;
  font-size: 3em;
  letter-spacing: 3px; }
.introduction h2 {
  margin: 0;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.75); }

.gallery .custom-controls header {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 25%;
  font-size: .7em; }

.gallery .control-operator:nth-of-type(2):target ~ .secondary-controls {
  display: block; }

.gallery .secondary-controls {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none; }
  .gallery .secondary-controls nav {
    display: table-cell;
    vertical-align: middle; }
  .gallery .secondary-controls a {
    pointer-events: auto;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.25s; }
    .gallery .secondary-controls a:hover {
      transform: scale(1.1); }
  .gallery .secondary-controls a img {
    margin-top: .1em; }
  .gallery .secondary-controls a:nth-child(1) {
    float: left;
    margin-left: .2em; }
  .gallery .secondary-controls a:nth-child(1) img {
    margin-right: .1em; }
  .gallery .secondary-controls a:nth-child(2) {
    float: right;
    margin-right: .2em; }
  .gallery .secondary-controls a:nth-child(2) img {
    margin-left: .1em; }

.gallery .animations header {
  display: table-cell;
  vertical-align: middle;
  text-align: center; }
  .gallery .animations header h1 {
    position: relative;
    z-index: 1; }
.gallery .animations h1 {
  font-size: 2.5em;
  font-weight: 600; }
.gallery .animations .balloon {
  color: rgba(0, 0, 0, 0.9);
  position: absolute;
  width: 100px;
  bottom: 20%; }
  .gallery .animations .balloon:nth-of-type(1) {
    font-size: 700%;
    right: 40%; }
  .gallery .animations .balloon:nth-of-type(2) {
    font-size: 500%;
    right: 20%;
    -webkit-filter: blur(0.7px);
    -moz-filter: blur(0.7px);
    -ms-filter: blur(0.7px);
    -o-filter: blur(0.7px);
    filter: blur(0.7px); }
    .gallery .animations .balloon:nth-of-type(2) .float, .gallery .animations .balloon:nth-of-type(2) .sway {
      animation-delay: -2s; }
  .gallery .animations .balloon:nth-of-type(3) {
    font-size: 200%;
    right: 80%;
    bottom: 32%;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px); }
    .gallery .animations .balloon:nth-of-type(3) .float, .gallery .animations .balloon:nth-of-type(3) .sway {
      animation-delay: -3.5s; }
.gallery .animations .sway {
  animation: sway 3s ease-in-out infinite alternate; }
.gallery .animations .float {
  animation: float 1.5m infinite; }

.share {
  background: whiteSmoke;
  border-bottom: 1px solid #cecece;
  padding: 1em 0;
  text-align: center; }
  .share .share-button {
    display: inline-block;
    margin: 0 1em; }

.main-module header {
  margin: 0 auto;
  text-align: center; }
.main-module h1 {
  display: inline-block;
  margin: 2.5em 0 0 0;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: .2em;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1); }
.main-module.coloured h1 {
  color: white; }
.main-module.coloured h2 {
  color: white;
  color: rgba(255, 255, 255, 0.75); }

.getting-started {
  color: #2b3e50; }
  .getting-started h1 {
    color: rgba(43, 62, 80, 0.8); }
  .getting-started h2 {
    font-size: 1.1em;
    font-weight: 500;
    color: rgba(43, 62, 80, 0.6); }
  .getting-started .steps {
    margin: 2em auto;
    padding: 0;
    list-style-position: inside; }
  .getting-started .steps li {
    margin: 2em 0; }
  .getting-started .steps pre {
    font-size: .9em; }

.releases {
  display: table;
  width: 100%;
  padding-bottom: 3em;
  text-align: center;
  color: white;
  background-color: #d36a6a; }
  .releases .download-options {
    width: 70%;
    margin: 0 auto;
    margin-top: 5em;
    overflow: visible; }
  .releases .download-options h3 {
    margin: 0;
    font-size: 2em;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1); }
  .releases .download-options .filesize {
    margin: 0;
    font-size: 1.2em;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.6); }
  .releases .prefixed,
  .releases .unprefixed {
    display: block;
    margin-bottom: 2em;
    text-decoration: none;
    transition: all 0.25s; }
    .releases .prefixed:hover,
    .releases .unprefixed:hover {
      transform: scale(1.025); }
  .releases footer {
    display: table-footer-group;
    color: rgba(255, 255, 255, 0.6);
    font-size: .8em; }
  .releases footer a {
    display: inline-block;
    margin-top: 3em;
    font-size: 1.2em;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    transition: all 0.25s ease-in-out; }
    .releases footer a:hover {
      color: white; }

.screencast {
  color: white;
  background-color: #61ba96;
  padding-bottom: 3em; }
  .screencast h3 {
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    padding-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6); }
  .screencast .learnings {
    text-align: center; }
  .screencast .learnings ul {
    padding: 0; }
  .screencast .learnings li {
    margin-top: 3em;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    list-style-type: none; }
  .screencast .learnings i {
    font-size: 350%; }
  .screencast .learnings p {
    margin: 0;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .1em; }
  .screencast footer {
    overflow: hidden;
    clear: left; }
  .screencast .quotes {
    margin: 0;
    overflow: hidden;
    text-align: left;
    list-style-type: none; }
    .screencast .quotes .item {
      margin-bottom: 2em;
      overflow: hidden; }
    .screencast .quotes .avatar {
      width: 55px;
      border-radius: 55px;
      float: left;
      margin-right: 1em; }
    .screencast .quotes cite {
      display: block; }
  .screencast .purchase {
    position: relative; }
    .screencast .purchase .superfluous {
      background-color: white;
      border-radius: 3px;
      color: #61ba96;
      box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1); }
    .screencast .purchase header {
      text-align: left;
      padding: 0.7em 1.2em; }
    .screencast .purchase h3 {
      margin: 0;
      border: 0;
      color: #61ba96; }
    .screencast .purchase .details {
      margin: 0;
      padding: 0;
      font-size: .9em;
      list-style-position: inside; }
    .screencast .purchase input:not(#oldIE) {
      position: absolute;
      float: left;
      margin: 1.1em 0 0 0.95em;
      width: 14px;
      height: 14px;
      opacity: 0; }
    .screencast .purchase input:not(#oldIE):checked + .purchase-option {
      border-color: #61ba96;
      font-weight: bold;
      background-position: 0.7em 50%;
      background-size: 14px 14px, 0 0, 20px 20px; }
    .screencast .purchase .purchase-option {
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      transition: border 0.5s, background-position 0.2s ease-in-out, background-size 0.2s ease-in-out;
      background-image: url(../images/radio-checked.png);
      background-image: none, url(../images/radio-unchecked.svg), url(../images/radio-checked.svg);
      background-position: 0.9em 50%;
      background-repeat: no-repeat;
      background-size: 14px 14px, 14px 14px, 0 0; }
      .screencast .purchase .purchase-option, .screencast .purchase .purchase-option label {
        cursor: pointer; }
    .screencast .purchase label {
      display: block;
      padding: 0.7em 1.2em 0.7em 2.7em; }
    .screencast .purchase span {
      float: right; }
  .screencast .buy {
    display: block;
    margin: 0.75em 1em;
    padding: 0.8em 0;
    font-size: 1em;
    font-weight: 600;
    border-radius: 3px;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #61ba96;
    transition: all 0.25s ease-in-out;
    display: none; }
    .screencast .buy.selected {
      display: block; }
    .screencast .buy:hover {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1); }
  .screencast .third-party {
    display: block;
    margin: 0.6em 0;
    font-weight: 300;
    font-size: .8em; }

footer[role="contentinfo"] .wrapper {
  padding: 2em 0; }
footer[role="contentinfo"] .icon-gallery {
  margin-right: .15em;
  margin-top: -.2em;
  float: left;
  color: #61ba96;
  font-size: 350%;
  -webkit-filter: drop-shadow(0 3px 0 rgba(0, 0, 0, 0.1));
  -moz-filter: drop-shadow(0 3px 0 rgba(0, 0, 0, 0.1));
  -ms-filter: drop-shadow(0 3px 0 rgba(0, 0, 0, 0.1));
  -o-filter: drop-shadow(0 3px 0 rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0 3px 0 rgba(0, 0, 0, 0.1)); }
footer[role="contentinfo"] h3 {
  font-size: .9em;
  margin: 0; }
footer[role="contentinfo"] p {
  font-size: .7em;
  margin: 0; }
  footer[role="contentinfo"] p a {
    font-weight: 700; }
