* {
  box-sizing: border-box; }

html {
  font-family: sans-serif; }

.grid {
  margin: 0 auto;
  max-width: 1260px;
  padding: 0 4%;
  font-family: Layout; }
  .grid > * {
    font-family: sans-serif; }

.getting-started .steps {
  max-width: 60%; }

.download-options .unprefixed img {
  margin-left: -2em; }
.download-options .prefixed,
.download-options .unprefixed {
  width: 50%;
  float: left; }

.screencast .learnings li {
  width: 25%; }
