@import "variables";

@mixin gallery( $item-count ) {
	$total-duration: $display-duration * $item-count;

	@keyframes controlFade-#{$item-count} {
		0% { @include button-color; }
	  #{100% * $transition-duration / $total-duration},
	  #{100% * $display-duration / $total-duration} { @include button-active-color; }
	  #{100% * ($display-duration + $transition-duration) / $total-duration} { @include button-color; }
	}

	@keyframes galleryAnimation-#{$item-count} {
	  0% { opacity: 0; }
	  #{100% * $transition-duration / $total-duration},
	  #{100% * $display-duration / $total-duration} { opacity: 1; }
	  #{100% * ($display-duration + $transition-duration) / $total-duration} { opacity: 0; }
	}

	.items-#{$item-count} { 
		.control-button { animation: controlFade-#{$item-count} #{$total-duration}s infinite; }
		.item { animation: galleryAnimation-#{$item-count} #{$total-duration}s infinite; }

		@for $j from 1 through $item-count {
			.control-operator:nth-of-type(#{$j}):target ~ .controls .control-button:nth-of-type(#{$j}) { @include button-active-color; }

			.control-button:nth-of-type(#{$j}),
			.item:nth-of-type(#{$j}) { 
				$delay: #{($j - 1) * ($display-duration) - $transition-duration}s;

				animation-delay: #{$delay};
			}
		}
	}
}

.gallery {
	.item:first-of-type { position: static; opacity: 1; }
	.item { position: absolute; top: 0; left: 0; width: 100%; opacity: 0; transition: opacity .5s; }

	.control-operator { display: none; } // Stop hash links from scrolling up and down
	
	.control-operator:target ~ .item { opacity: 0; animation: none; } // Unselected image
	.control-operator:target + .item { opacity: 1; } // Selected image
	.control-operator:target ~ .controls .control-button { animation: none; } // Kill button animation when there is a selected image
}