@import "variables";

/*
	Theme controls how everything looks in Gallery CSS.
*/

.gallery {
	position: relative;

  .item { overflow: hidden; }

	.controls {
		position: absolute; bottom: 0; left: 50%; margin-left: -50%; z-index: 2; width: 100%; text-align: center; 
	}

	.control-button {
		@include button-color;

		display: inline-block; margin: 0 .02em;
		font-size: 3em; text-align: center; text-decoration: none;

		transition: color .1s;

		&:hover { @include button-hover-color; }
	}
}