@import 'sass/variables';
@import 'sass/fonts';
@import 'sass/animations';

* { -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; }
body { @extend %proxima-nova; line-height: 1.5; }

a { color: inherit; }

h1 { @extend %avenir-heavy; } 
h2 { @extend %avenir-roman; }

.gallery {
	.item { height: 100%; text-rendering: optimizeLegibility; }
	.introduction { background: #4D87E2; text-align: center; }
	.custom-controls { background: #73C16F; }
	.animations { 
		// background-image: -webkit-linear-gradient(bottom, 
		// 	rgba(255,255,204,0.6) 0%,
		// 	rgba(253,250,211,0.65) 10%,
		// 	rgba(220,223,204,0.66) 20%,
		// 	rgba(165,180,187,0.67) 30%,
		// 	rgba(131,152,173,0.74) 40%,
		// 	rgba(128,149,170,0.72) 40%,
		// 	rgba(102,120,153,0.7) 60%,
		// 	rgba(84,109,140,0.78) 70%,
		// 	rgba(48,74,111,0.81) 80%,
		// 	rgba(40,63,101,0.92) 90%), 
		// url('/images/noise.png');
		background: url(/images/background.jpg) no-repeat;
		background-size: cover;
	}

	header { color: white; text-shadow: 0 1px 0 rgba(0, 0, 0, .2); }
}

// Override theme!
.gallery .item:first-of-type { position: absolute; }

.superfluous { display: table; height: 100%; width: 100%; } 

.introduction {
	header { display: table-cell; vertical-align: middle; }
	
	h1 { margin: 0; font-size: 3em; letter-spacing: 3px; }
	h2 { @extend %avenir-light; margin: 0; font-size: 1em; color: rgba(255, 255, 255, .75); }
}

.gallery .custom-controls {
	header {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		padding: 0 25%;

		font-size: .7em;	
	}
}

.gallery .control-operator:nth-of-type(2):target ~ .secondary-controls { display: block; }

.gallery .secondary-controls {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	pointer-events: none;

	nav { display: table-cell; vertical-align: middle; }

	a { 
		pointer-events: auto;
		height: 60px;
		width: 60px;
		 
		border-radius: 60px;
		
		color: rgba(255, 255, 255, .6);
		font-size: 3em;
		font-weight: bold;
		text-decoration: none;
		text-align: center;
		background: rgba(0, 0, 0, .1);

		transition: all .25s;
		&:hover { transform: scale(1.1); }
	}

	a img { margin-top: .1em; }

	a:nth-child(1) { float: left; margin-left: .2em; }
	a:nth-child(1) img { margin-right: .1em; }
	
	a:nth-child(2) { float: right; margin-right: .2em; }
	a:nth-child(2) img { margin-left: .1em; }
}

.gallery .animations {
	//.superfluous { animation: backgroundCycle 60s alternate both infinite; }

	header {
		display: table-cell;
		vertical-align: middle;

		text-align: center;

		h1 { position: relative; z-index: 1; }
	}

	h1 { font-size: 2.5em; font-weight: 600; }

	.balloon {
		color: rgba(0, 0, 0, .9);
		position: absolute; width: 100px; bottom: 20%;

		&:nth-of-type(1) { font-size: 700%; right: 40%; }
		&:nth-of-type(2) { 
			font-size: 500%; 
			right: 20%;
			-webkit-filter: blur(.7px);
			   -moz-filter: blur(.7px);
			    -ms-filter:	blur(.7px);
			     -o-filter:	blur(.7px);
							filter: blur(.7px); 

			.float, .sway { animation-delay: -2s; }
		}
		
		&:nth-of-type(3) { 
			font-size: 200%; 
			right: 80%; bottom: 32%;
			-webkit-filter: blur(2px);
			   -moz-filter: blur(2px);
			    -ms-filter:	blur(2px);
			     -o-filter:	blur(2px);
							filter: blur(2px); 

			.float, .sway { animation-delay: -3.5s; }
		}
	}

	.sway { animation: sway 3s ease-in-out infinite alternate; }
	.float { animation: float 1.5m infinite; }
}

.main-module {
	header {
		margin: 0 auto;
		text-align: center;
	}

	h1 { 
		display: inline-block; 
		margin: 2.5em 0 0 0;
		font-size: 2em;
		text-transform: uppercase; letter-spacing: .2em;
		text-shadow: 0 2px 0 rgba(0, 0, 0, .1);
	}
	&.coloured h1 { color: white; }
	&.coloured h2 { color: white; color: rgba(255, 255, 255, .75); }
}

.getting-started {
	color: #2b3e50;

	h1 { color: rgba(43, 62, 80, .8); }
	h2 { 
		font-size: 1.1em;
		font-weight: 500; 
		color: rgba(43, 62, 80, .6);
	}

	.steps { margin: 2em auto; padding: 0; list-style-position: inside; }
	.steps li { margin: 2em 0; }
	.steps pre { font-size: .9em; }
}

.releases { 
	display: table; 
	width: 100%; 
	padding-bottom: 3em;
	text-align: center;
	color: white;
	background-color: #d36a6a;

	.download-options { width: 70%; margin: 0 auto; margin-top: 5em; overflow: visible; }
	.download-options h3 { margin: 0; font-size: 2em; text-shadow: 0 2px 0 rgba(0, 0, 0, .1); }
	.download-options .filesize { @extend %proxima-nova-condensed-light-italic; margin: 0; font-size: 1.2em; font-weight: 600; color: rgba(255, 255, 255, .6); }
	
	.prefixed, 
	.unprefixed {
		display: block;
		margin-bottom: 2em;
		text-decoration: none;

		transition: all .25s;
		
		&:hover { transform: scale(1.025); } 
	}

	footer { 
		@extend %proxima-nova-condensed-light-italic; 
		display: table-footer-group; 
		color: rgba(255, 255, 255, .6);
		font-size: .8em;
	}

	footer a { 
		display: inline-block;
		margin-top: 3em;
		font-size: 1.2em;
		text-decoration: none; 
		border-bottom: 1px solid rgba(255, 255,  255, .4);
		
		transition: all .25s ease-in-out;

		&:hover { color: white; }
	}
} 

.screencast { 
	color: white;
	background-color: $screencast-color;
	padding-bottom: 3em;

	h3 { 
		@extend %proxima-nova-light;
		display: inline-block;
		font-size: 2em;
		font-weight: 300;
		padding-bottom: 0;
		border-bottom: 1px solid rgba(255, 255, 255, .6);
	}

	.learnings { text-align: center; }
	.learnings ul { padding: 0; }

	.learnings li { 
		margin-top: 3em;
		width: 50%; display: inline-block; vertical-align: top;
		list-style-type: none; 
	}

	.learnings i { font-size: 350%; }
	.learnings p { 
		@extend %proxima-nova-semibold; 

		margin: 0;
		font-size: .8em; text-transform: uppercase; letter-spacing: .1em;
	}

	footer { overflow: hidden; clear: left; }

	.quotes {
		margin: 0;
		overflow: hidden;
		text-align: left;
		list-style-type: none;

		.item { margin-bottom: 2em; overflow: hidden; }

		.avatar { width: 55px; border-radius: 55px; float: left; margin-right: 1em; }
		q { @extend %proxima-nova-condensed-light-italic; }
		cite { @extend %proxima-nova-condensed-regular; display: block; }
	}

	.purchase { 
		@extend %proxima-nova;
		position: relative;
		
		.superfluous { 
			background-color: white;
			border-radius: 3px;
			color: $screencast-color;
			box-shadow: 0 3px 0 rgba(0, 0, 0, .1);
		}

		header { 
			text-align: left;
			padding: .7em 1.2em;
		}

		h3 { 
			margin: 0;
			border: 0; 
			color: $screencast-color;
		}

		.details { 
			margin: 0;
			padding: 0; 
			font-size: .9em;
			list-style-position: inside;
		}

		input:not(#oldIE) { 
			position: absolute;
			float: left;
			margin: 1.1em 0 0 0.95em;
			width: 14px;
			height: 14px;
			opacity: 0;
		}

		input:not(#oldIE):checked + .purchase-option {
			// transitioned property
			border-color: $screencast-color;

			font-weight: bold;
			background-position: .7em 50%;

			// transitioned property
			background-size: 14px 14px, 0 0, 20px 20px;
		}

		.purchase-option {
			&, label { cursor: pointer; }

			// transitioned property
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;

			transition: border .5s, background-position .2s ease-in-out, background-size .2s ease-in-out;

			background-image: url(../images/radio-checked.png);
			background-image: none, url(../images/radio-unchecked.svg), url(../images/radio-checked.svg);
			
			background-position: .9em 50%;
			background-repeat: no-repeat;
											// none     unchecked  checked starting point
			background-size: 14px 14px, 14px 14px, 0 0;
		}

		label {
			display: block;
			padding: 0.7em 1.2em 0.7em 2.7em;
		}

		span { float: right; }
	}

	.buy {
		display: block;
		margin: .75em 1em;
		padding: .8em 0;
		font-size: 1em; font-weight: 600;
		border-radius: 3px;
		color: white; text-align: center; text-decoration: none;
		background-color: $screencast-color;

		transition: all .25s ease-in-out;

		display: none;
		&.selected { display: block; }
		&:hover { box-shadow: 0 0 0 3px rgba(0, 0, 0, .1); }
	}

	// @each $option in one, three, five {
	// 	input[value="#{$option}"]:checked ~ .buy.#{$option} { display: block; }	
	// }
	
	.third-party { @extend %proxima-nova-condensed-regular; display: block; margin: .6em 0; font-weight: 300; font-size: .8em; }
}


footer[role="contentinfo"] {
	h3, p { @extend %proxima-nova; }

	.wrapper { padding: 2em 0; }

	.icon-gallery { 
		margin-right: .15em; margin-top: -.2em;
		float: left; 
		color: $screencast-color; 
		font-size: 350%; 

		-webkit-filter: drop-shadow(0 3px 0 rgba(0, 0, 0, .1));
		-moz-filter: 		drop-shadow(0 3px 0 rgba(0, 0, 0, .1));
		-ms-filter: 		drop-shadow(0 3px 0 rgba(0, 0, 0, .1));
		-o-filter: 			drop-shadow(0 3px 0 rgba(0, 0, 0, .1));
		filter: 				drop-shadow(0 3px 0 rgba(0, 0, 0, .1));
	}

	h3 { font-size: .9em; margin: 0; }
	p { 
		font-size: .7em; margin: 0;
		a { font-weight: 700; }
	}
}