@import 'grid';

.grid { @extend %grid; }
.small-grid { @extend %grid; max-width: $grid-max-width / 1.25; }

.gallery header { text-shadow: 0 3px 0 rgba(0, 0, 0, .2); } 

.gallery .custom-controls {
  header { padding: 0; font-size: 1.5em; }
}
.gallery .secondary-controls {
  a:nth-child(1) { margin-left: 1em; }
  a:nth-child(2) { margin-right: 1em; }
}

.gallery .introduction {
  h1 { font-size: 5em; }
  h2 { font-size: 2em; }
}

.main-module h1 { font-size: 3em; }
.main-module h2 { font-size: 1.6em; }

.getting-started {
  .steps { max-width: 60%; }
}

.download-options {
  .unprefixed img { margin-left: -2em; }

  .prefixed, 
  .unprefixed { 
    width: 50%;
    float: left;
  }
}

.screencast .learnings {
  margin-top: 3em; margin-bottom: 3em;
}
.screencast .learnings li {
  width: 25%;
}

.screencast footer { 
  padding-top: 5em; 
  padding-bottom: 5em; 
}

.quotes { max-width: 50%; float: left; }
.purchase { float: right; max-width: 50%; }